.terms{
    width: 100%;
   
  
}
.logo7{
    margin-left: 500px;
    height: 400px;
    width: 400px;
    margin-top: 50px;
    border-style: dotted;
    border-radius: 80px;
}
.ft{
    margin-left: 180px;
}

